
  .container-position{
    width: 45%;
  }

  .element-padding {
    padding: 0.3em 0.3em 0.3em 0.3em;
  }

  .button-padding {
   padding: 1.5em 1.5em 1.5em 1.5em;
  }

  .label-text-size {
    font-size: 17px;
  }

  .help-text-size {
    font-size: 11px;
  }