.box {
  display: flex;
  justify-content: center;
}

.box-margin {
  margin-left: 4em;
}

.text-font-size {
  font-size: 28px;
}

.login-error-style {
  font-size: 15px;
  color: red;
}

.sign-up-label {
  font-size: 19px;
}

.top-text-size{
  font-size: 37px;
}

.button-margin {
  margin-top: 4em;
  margin-bottom: 4em;
}

.table-position {
  width: 60%;
  margin: auto;
  opacity: 0.8;
}

.form-position {
  max-width: 40%;
}

.img-align {
  margin-top: 3em;
  text-align: center;
}

